POSTGRES_USER=afi_user
POSTGRES_PASSWORD=afi_pass
POSTGRES_DB=afiliaciones

COMPAT_POSTGRES_USER=escobar
COMPAT_POSTGRES_PASSWORD=escobar
COMPAT_POSTGRES_DB=postgres

MODEL_NAME=llama3.2:1b
EMBEDDING_MODEL=nomic-embed-text

VITE_API_URL=http://localhost:8000
